// basic
$c-main: #032f60;
$c-main--active: #FFA500;
$c-green: #4caf50;
$c-brown: #cd853f;
$c-red: #cd5c5c;
$c-text1: #7d7d7d;
$c-lightgrey: #dcdcdc;

// pure
$c-white: #fff;
$c-black: #000;

$c-grey: #ccc;

$c-error: #B22222;
$c-input-label: #696969;
$c-input-hint: #aaaaaa;


$c-shadow: rgba($c-grey, 0.2);
$c-switch--off: #ccc;
$c-switch--active: #32CD32;

$c-badge--default: $c-main;
$c-badge--brown: $c-brown;
$c-badge--green: $c-green;
$c-badge--red: $c-red;

$c-form-basic: #333;
$c-form-border: #ccc;

// other
$c-assist-yellow: #F9DB4A;
$c-assist-pink: #FF9FA6;
$c-assist-green: #7FD3B6;
$c-assist-blue: #83D0E6;