<template>
  <div class="c-">
    {{ name }}
  </div>
</template>

<script>
  import { defineComponent } from 'vue';
  
export default defineComponent({
  name: 'Re{{name}}',
});
</script>

<style lang="scss" scoped>
</style>
